.name {
    margin-bottom: 36px;
    text-align: center;
    color: #ED4B5E;
    text-transform: uppercase;
}

.review {
    padding: 24px;
    background-color: #FFEFF0;
    border-radius: 24px;
}

.reviewDescr {
    margin-bottom: 42px;
    color: #222222;
    font-size: 18px;
    letter-spacing: -1px;
}

.tagUser {
    display: flex;
    gap: 8px;
}

.reviewName {
    color: #565148;
    font-size: 16px;
}

.pagination {
    display: flex;
    gap: 8px;
}

.pagination button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #cccccc;
    border: none;
}

.pagination button.active {
    background-color: #000000;
}