/* .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    color: #ED4B5E;
    z-index: 1000;
} */

/* .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    color: #222222;
    transition: transform 0.3s ease;
} */

.header.hide {
    transform: translateY(-100%);
}

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    display: flex;
}

.menu {
    margin-right: 8px;
    color: #222222;
    font-size: 24px;
    letter-spacing: -1px;
}

.burger-menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 0;
}

/* .burger-menu-button svg {
    background-color: #DCEFD8;
    border-radius: 50%;
    padding: 12px;
} */